<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <param name="robot_description" textfile="$(find auto_tractor)/urdf/auto_tractor.urdf"/>

  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find auto_tractor)/urdf/auto_tractor.urdf -urdf -model auto_tractor"
    output="screen" />
  
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

  <rosparam file="$(find auto_tractor)/config/controller.yaml" command="load"/>
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller rl_velocity rr_velocity left_steering_position right_steering_position"/>
  
  <node name="ultrasonic_sync" pkg="auto_tractor" type="wheel_topics.py" output="screen" />
</launch>
